<div class="container">
  <div class="form-group">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
    </div>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>



    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
