<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
         <td> <%= image_tag user.avatar, size: 100 if user.avatar.attached? %></td>
        <td><%= link_to user.name, user  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>


