<div class="container">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
     
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
  <td><%= post.content %> </td>
  <% if current_user == post.user  %>
          <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-primary" %></td>
        <% end %>
  </br>
  <%end%>

</tbody>
<% if current_user == @user  %>
  <%= link_to 'New Post', new_post_path , class: "btn btn-primary mb-2" %> 
<%end%>
</br>

<%= link_to 'Back', posts_path, class: "btn btn-primary" %>

</div>

 <%= will_paginate @posts %>