<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: '3', cols: '30' %>
  </div>

  <div>
  <%= form.label :images, "Загрузить фото" %>
  <%= form.file_field :images, multiple: true %> <br />
  <div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


