
<div class="container">
  <div class="form-group">
    <h4>Edit post</h4>

    <%= render 'form', post: @post %>

    <%= link_to 'Show', @post, class: "btn btn-primary" %> |
    <%= link_to 'Back', posts_path, class: "btn btn-primary" %>

  </div>
</div>