<div class="container">
<table >
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
     
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td scope="col"><%= post.content %></td>
        <td scope="col"><%= link_to post.user.name, user_path(post.user.id)%></td>
         <td><%= link_to 'Show', post, class: "btn btn-outline-primary" %></td>
        
        <% if current_user == post.user  %>
           <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-primary" %></td>
        <% end %>
      </tr>
    <% end %>
    <td><%= will_paginate @posts %></td>
  </tbody>
</table>
</div>
<br>


