<div class="container">
<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div class="flex-parent">
  <% @post.images.each do |image| %>
  <%= image_tag image, size: 200 %> 
  <%end%>
</div>  
</br>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary " %>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>


<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
  <div id="comment-section">
    <ol id="comments">
      <%= render @post.comments %>
    </ol>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>


</div>